:root {
    --main-color: #2872fc;
    --hover-color: #36c55a;
    /* tipos de letra */
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--main-font);
    background-color: #9abeff;
}

.navigation {
    /* posición */
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: 2%;
    z-index: 100;

    /* tamaño */
    width: 96%;
    height: 70px;

    /* contenedor */
    background-color: var(--main-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    /* borde debug */
    border: 1px solid black
}

.logo {
    /* tamaño */
    height: 100%;
    /* borde debug */
    border: 1px solid black;
}

.title {
    /* tamaño */
    
    /* posicion */
    position: relative;
    top: -20px;
    /* contenido */
    font-weight: bold;
    font-size: 40px;
    color: black;

    /* borde debug */
    border: 1px solid black;
}

.dropdown {
    /* tamaño */
    width: 200px;

    /* contenido */
    overflow: hidden;
    list-style: none;
    margin: 0px;
    padding: 0px;

    /* contenedor */
    background-color: var(--main-color);

    /* borde debug */
    border: 1px solid black;
}

.dropdown:hover {
    /* tamaño*/
    width: 200px;
    height: 300px;
}

.dropdown li {
    /* tamaño */
    width: 100%;
    height: 50px;

    /* posicion */
    margin-bottom: 5px;

    /* contenido */
    text-align: center;
    transition: .5s;
    /* borde debug */
    border: 1px solid black;
}

.dropdown li:hover {
    background-color: var(--hover-color);
}

.dropdownIcon {
    /* tamaño */
    height: 70px;
    /* posicion */
    margin: 0px;
    padding-top: 20px;
    /* contenido */
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    /* borde debug */
    border: 1px solid black;
}

/* Botón 'Volver Arriba' */
.returnTop {
    /* posicion */
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 100;

    /* borde debug */
    border: 1px solid black;

    /* contenedor */
    width: 50px;
    height: 50px;
    border-radius: 33%;
    background-color: var(--main-color);
    transition: .3s;

    /* contenido */
    padding-top: 2px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.returnTop:hover {
    background-color: var(--hover-color);
}

.translateButton {
    /* borde debug */
    border: 1px solid black;

    /* contenedor */
    height: 50px;
    border-radius: 33%;
    background-color: var(--main-color);
    transition: .3s;

    /* contenido */
    padding-top: 18px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.translateButton:hover {
    background-color: var(--hover-color);
}