:root{
    --hover-colorF: #0000b5;
    --texto-color: #0300FF;
    --texto-fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    z-index: 99;

    /* contenedor */
    background-color:#6fc1f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: groove;
    border-top-color: #1a9ef7;

    /* borde debug */
    /*border: 1px solid black*/
    
}

.enlementos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
}

.enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

    /*border: 1px groove black;*/
    background-color: #6fa6f8;
    border-radius: 20px;

    width: 800px;
    height: 25px;
}

.enlace {
    text-decoration: none;
    color: var(--texto-color);
    /*border: 1px solid black;*/
    margin: 8px;

    font-family: var(--texto-fuente);
}

.enlace:hover {
    color: var(--hover-colorF);
}

.sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;

    /*texto*/
    color: var(--texto-color);
    font-family: var(--texto-fuente);

    /*border:1px groove #000063;
    background-color: #6fa6f8;*/
    border-radius: 20px;
}

.sponsors h1 {
    font-size: larger;
    font-weight: normal;
}

.fotosSponsors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*border:2px solid #00002c;*/
}

.fotosSponsorsD {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    margin-left: 10px;
}

.fotosSponsors img{
    width: 40px;
    height: 40px;
}

.logoF {
    position: absolute;
    left: 10px;
    margin: 20px;
    
    background-color: #6fa6f8;
    border-radius: 50%;
}