:root {
    --main-color: #6fc1f8;
    --hover-color: #98ffb2;
    /* tipos de letra */
    --main-font: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation {
    /* posición */
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
    margin-top: 0px;

    /* tamaño */
    width: 100%;
    height: 70px;

    /* contenedor */
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-bottom-style: groove;
    border-bottom-color: #1a9ef7;

    font-family: var(--main-font);

    /* borde debug */
   /* border: 1px solid black*/ 
}

.logo {
    /* tamaño */
    height: 100%;
    /* borde debug */
    /*border: 1px solid black;*/
}

.logoTitle {
    display: flex;
    /* tamaño */
    width: 500px;

    /* borde debug */
    /*border: 1px solid black;*/
}

.title {
    /* tamaño */
    
    /* posicion */
    position: relative;
    top: -25px;
    /* contenido */
    font-size: 40px;
    color: #0300FF;
    white-space: nowrap;

    /* borde debug */
    /*border: 1px solid black;*/
}

.dropdown {
    /* tamaño */
    width: 200px;

    /* contenido */
    overflow: hidden;
    list-style: none;
    margin: 0px;
    padding: 0px;

    /* contenedor */
    background-color: var(--main-color);

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: groove;
    border-bottom-color: #0972b7;
    
    /* borde debug */
    /*border: 1px solid black;*/
}

.dropdown:hover {
    /* tamaño*/
    height: fit-content;
}

.dropdown li {
    /* tamaño */
    width: 100%;
    height: 50px;

    /* posicion */
    margin-bottom: 5px;

    /* contenido */
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* borde debug */
    /*border: 1px solid black;*/
}

.dropdown li a {
    /* contenido */
    text-decoration: none;
    color: #0300FF;
    font-size: 20px;
}

.dropdown li:hover {
    background-color: var(--hover-color);
}

.dropdownIcon {
    /* tamaño */
    height: 70px;
    /* posicion */
    margin: 0px;
    padding-top: 20px;
    /* contenido */
    font-family: var(--main-font);
    text-align: center;
    font-size: 25px;

    color: #0300FF;
    /* borde debug */
    /*border: 1px solid black;*/
}

/* Botón 'Volver Arriba' */
.returnTop {
    /* posicion */
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 100;

    /* borde debug */
    /*border: 1px solid black;*/

    /* contenedor */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: .3s;
    
}

.returnTop img {
    height: 100%;
}

.returnTop:hover {
    background-color: var(--hover-color);
}


